Carthage/Checkouts
Carthage/Build/.card.io-iOS-source.version
Carthage/Build/iOS/CardIO.framework.dSYM
Carthage/Build/iOS/08506903-EAD1-3AA1-B490-7B366890AF65.bcsymbolmap
Carthage/Build/iOS/582F9B17-1A4D-34C2-A400-115C62B06A20.bcsymbolmap
Carthage/Build/iOS/9CB4D8B4-1D46-3C1C-A918-4E3AAE8AC516.bcsymbolmap
CardIODynamic.xcodeproj/xcuserdata
CardIODynamic.xcodeproj/project.xcworkspace/xcuserdata
